// @import url(http://fonts.googleapis.com/css?family=Acme);

$background: #6493C4; 

body {
    background: $background;
    color: white;
    line-height: 3em;
    font-family: Trebuchet, sans-serif;
}

.container {
	text-align: center;
}

#insult {
	font-family: 'Acme', Trebuchet, sans-serif;
    font-size: 2em;	
}

